<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <div class="cover-page-background" id ='main-form'>
        <!-- Menu -->
        <div class="form-container">
            <img src="https://www.umsl.edu/branding/logos/images/vertical-triton-red-blk.png">
            <br>

            <label for="name">Name</label>
            <input type="text" id="name" name="user_name">
            <br><br>
            <!-- Select certificate option -->
            <label for="certificate">
                Certificate Option
                <span class="tooltip">
                    <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                    <span class="tooltiptext">
                        Enhance your expertise with our undergraduate certificate programs tailored to complement your degree.
                        These focused curricula offer specialized training in areas, providing valuable skills to bolster
                        your resume and advance your career.<br><br>
                        <a href ="https://www.umsl.edu/cmpsci/certificates/undergraduate-certificates.html" target="_blank">
                            Learn More
                        </a>
                    </span>
                </span>
            </label>
            <select id="certificate" name="certificate_choice" onchange="handleCertSelect(this)">
                {% for certificate, certificate_value in certificates %}
                <option value="{{certificate}},{{certificate_value}}">{{ certificate }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Select current semester-->
            <label for="current_semester">Starting Semester</label>
            <select name="current_semester" id="starting_semester">
                {% for semester in semesters %}
                <option value="{{semester}}">{{ semester }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Ask user for number of credits for first semester-->
            <label for="initial_minimum_semester_credits">Minimum Credits for First Semester</label>
            <select name="minimum_semester_credits" id="initial_minimum_credits">
                {% for credits in minimum_semester_credits %}
                {% if credits == 15 %}
                <option selected value="{{credits}}">{{ credits }}</option>
                {% else %}
                <option value="{{credits}}">{{ credits }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <br><br>

            <!-- Select summer semester boolean -->
            <label for="summer">Summer Semester</label>
            <input type="checkbox" id="summer" name="include_summer" onClick="handleSummerCheckboxClick(this)"><br>
            <br>

            <!-- Select earned credit boolean -->
            <label for="earned_credit">
                Earned Credit
                <span class="tooltip">
                    <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                    <span class="tooltiptext">
                        If you've already earned credits—be it through waived, transferred, or already completed courses at UMSL—check this
                        box to bring you to a form for more information. We understand the value of your prior learning experiences
                        and strive to ensure they count towards your degree, saving you time and effort as
                        you progress through our computer science program.
                    </span>
                </span>
            </label>
            <input type="checkbox" id="has_credits" name="include_credits" onclick="handleEarnedCreditCheckboxClick(this)"><br>
            <br>

            <!-- Ask user for number of credits for summer-->
            <label style="visibility: hidden;" id="summer_credits_label" for="minimum_summer_credits">Minimum Credits for Summer</label>
            <select style="visibility: hidden;" id="summer_credits_select" name="minimum_summer_credits">
                {% for credits in minimum_summer_credits %}
                {% if credits == 0 %}
                <option selected value="{{credits}}">{{ credits }}</option>
                {% else %}
                <option value="{{credits}}">{{ credits }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <br><br>

            <!-- submit buttons-->
            <div class = "buttons">
                <input type="submit" id="single_semester_submit" name="single_semester" value="Start Schedule (by Semester)">
                <input type="submit" id="complete_schedule_submit" name="generate_complete_schedule" value="Generate Full Schedule">
            </div>
            <br>
            <input type="hidden" name="required_courses_dict" value="{{ required_courses_dict }}">

            <input type="hidden" name="course_schedule" value="{{ course_schedule }}">
            <input type="hidden" name="semester_number" value="{{ semester_number }}">
            <input type="hidden" name="min_3000_course" value="{{ min_3000_course }}">
            <input type="hidden" name="include_summer" value="{{ include_summer }}">
            <input type="hidden" id="json_required_courses" name="json_required_courses"
                value="{{ json_required_courses }}">
            <input type="hidden" name="num_3000_replaced_by_cert_core" value="{{ num_3000_replaced_by_cert_core }}">
            <input type="hidden" name="cert_elective_courses_still_needed"
                value="{{ cert_elective_courses_still_needed }}">
            <input type="hidden" name="elective_courses" value="{{ elective_courses }}">
            <input type="hidden" name="gen_ed_credits_still_needed" value="{{ gen_ed_credits_still_needed }}">
            <input type="hidden" name="first_semester" value="{{ first_semester }}">
            <input type="hidden" name="minimum_summer_credits" value="{{ minimum_summer_credits }}">
            <input type="hidden" name="semester_years" value="{{ semester_years }}">
        </div>
        <div class = "second-form" id = "form-container-2">
            <h1>Course History</h1><br>
            <!-- Select waived courses-->
            <label style="visibility: hidden;" id ="waived_courses_label" for="waived_courses" >
                <span class="tooltip">
                    <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                    <span class="tooltiptext">
                        A waived course is one in which a student is exempt from completing due to previous academic
                        achievements or demonstrated proficiency. If a course waived, the student cannot claim
                        credit for that course, and it does not count towards minimum credit requirements.<br><br>

                        Unsure if a course is waived?<br>
                        Students should contact the
                        <a href ="https://www.umsl.edu/~academicadvising/index.html" target="_blank">
                            Academic Advising Office
                        </a>
                    </span>
                </span>
                Select Waived Courses
            </label>
            <select style="visibility: hidden;" name="waived_courses_name" id="waived_courses_id" multiple onchange="updateWaivedTakenDropdown(this)"
            onfocus='this.size=10;' onblur='this.size=1;'
            onchange='this.size=1;'>
                {% for required_course in required_courses %}
                    <option value="{{required_course.course}}">{{ required_course.course }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Select courses taken -->
            <label style="visibility: hidden;" id = "taken_courses_label" for="courses_taken">
                <span class="tooltip">
                    <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                    <span class="tooltiptext">
                        Students are required to earn 34 CMP SCI credits in a 12-course sequence, 19 credits in a 5-course
                        sequence, 6 ENGL credits in a 2-course sequence, and 1 university education course.
                        <a href = "https://www.umsl.edu/cmpsci/undergraduate-studies/BSCS.html" target="_blank">Learn more here.</a>
                        Select any courses from the dropdown
                        that you have earned, either previously at UMSL or transferred in from another institution.<br><br>

                        Unsure if your credits transfer?<br> Students should visit the
                        <a href = "https://www.umsl.edu/admissions/transfer/transfer-credit-evaluation.html" target="_blank">
                            Transfer Equivalency</a> portal.
                    </span>
                </span>
                Completed Courses
            </label>
            <select style="visibility: hidden;" name="courses_taken" id="taken_courses" multiple onChange="handleTakenCourseSelect(this)"
            onfocus='this.size=10;' onblur='this.size=1;'
            onchange='this.size=1;'>
                {% for required_course in required_courses %}
                    <option value="{{required_course.course}}" credits="{{required_course.credits}}">{{
                    required_course.course }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Select gen ed courses taken-->
            <label style="visibility: hidden;" id ="gen_credits_label" for="waived_courses" >
                <span class="tooltip">
                    <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                    <span class="tooltiptext">
                        Students are required to earn 27 credits in a
                        <a href = "https://bulletin.umsl.edu/generaleducationrequirements/" target="_blank">
                                9-course sequence</a> of core classes. Select the total number of credits from the dropdown
                        that you have earned in General Education Requirements,
                        either previously at UMSL or transferred in from another institution.<br><br>

                        Unsure if your credits transfer?<br> Students should visit the
                        <a href = "https://www.umsl.edu/admissions/transfer/transfer-credit-evaluation.html" target="_blank">
                            Transfer Equivalency</a> portal.
                    </span>
                </span>
                General Education Credits Earned
            </label>
            <select style="visibility: hidden;" name="gen_credits_name" id="gen_credits_id">
                {% for i in range(0, 61) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Select free electives taken -->
            <label style="visibility: hidden;" id = "free_credits_label" for="courses_taken">
                <span class="tooltip">
                    <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                    <span class="tooltiptext">
                        Students are required to earn 120 credits in order to graduate.
                        Select the total number of credits earned, either previously at UMSL or transferred in from another
                        institution, that do not belong in any other category.<br><br>

                        Unsure if your credits transfer?<br> Students should visit the
                        <a href = "https://www.umsl.edu/admissions/transfer/transfer-credit-evaluation.html" target="_blank">
                            Transfer Equivalency</a> portal.
                    </span>
                </span>
                Free Elective Credits Earned
            </label>
            <select style="visibility: hidden;" name="free_credits_name" id="free_credits_id">
                {% for i in range(0, 61) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Select number of credits already earned -->
            <label style="visibility: hidden;" id = "total_credits_label" for="total_credits">
                <span class="tooltip">
                    <i style="font-size:16px" class="fa" class="fas fa-question-circle">&#xf059;</i>
                    <span class="tooltiptext">This is the total amount of credits earned
                    from Computer Science, Mathematics, General Education courses, Free Electives,
                    and other BSCS core. These credits will go to the 120-credit graduation requirements.</span>
                </span>
                Current Credits Earned
            </label>
            <select style="visibility: hidden;" name="total_credits" id="starting_credits">
                {% for credits in starting_credits %}
                <option value="{{credits}}">{{ credits }}</option>
                {% endfor %}
            </select>

    </div>
</html>